:root {
	--very-dark-cyan: hsl(183, 100%, 15%);
	--grayish-cyan: hsl(184, 14%, 56%);
	--light-grayish-cyan: hsl(185, 41%, 84%);
	--very-light-grayish-cyan: hsl(189, 41%, 97%);
	--strong-cyan: hsl(172, 67%, 45%);
	/*  */
	--white: hsl(0, 0%, 100%);
	--sark-grayish-cyan: hsl(186, 14%, 43%);
}

.tips_wrap {
	display: flex;
	flex-direction: column;
}

.tips_header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

.tips_header > span {
	text-align: start;
	color: var(--grayish-cyan);
}

.tips_header > button {
	position: relative;

	padding: 2px 15px;

	color: var(--grayish-cyan);

	border: none;
	border-radius: 10px;

	cursor: not-allowed;
}

.tips_header > button::before {
	display: none;
	content: 'open sandbox and try your self ;)';
	position: absolute;
	top: -35px;
	right: 1px;
	width: max-content;
	font-size: 12px;
}

.tips_header > button:hover::before {
	display: block;
}

.tip_list {
	/* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, calc(380px / 3)));
   */

	display: flex;
	flex-wrap: wrap;

	gap: 15px;
	/* width: 100%; */
	list-style-type: none;

	/* border: 1px solid red; */
}

.tip_item {
	display: flex;
	justify-content: center;
	align-items: center;

	background: var(--very-dark-cyan);
	color: var(--white);

	border-radius: 5px;
	cursor: pointer;
	font-size: 24px;

	width: 100%;
	max-width: 120px;
	height: 50px;
}

.tip_item:hover {
	background-color: var(--light-grayish-cyan);
	color: var(--very-dark-cyan);
}

/* CSTM ITEM Style  */

.cstm_tip_item {
	background: none;
}

/*  */

.currentTip {
	background-color: var(--light-grayish-cyan);
	color: var(--very-dark-cyan);
}

@media screen and (max-width: 480px) {
	.tip_list {
		gap: 10px;
	}
	.tip_item {
		max-width: 100px;
	}
}

@media screen and (max-width: 360px) {
	.tip_list {
		gap: 10px;
	}
	.tip_item {
		width: 100%;
		max-width: 120px;
	}
}
